body {
  font-family: Tahoma;
  margin-left: 0;
}
* { 
  box-sizing: border-box; 
}

h1 {
  font-size: min(50vw, 1.5em);
}
main{
  margin: 0 auto;
}

#image {
  max-width: 100%;
  height: auto;
  min-width: 200px;
  margin-left: 0;
  display: block;
  flex-shrink: 0;
}

#img-div {
  margin: 0 auto;
  max-width: 400px;
}

footer {
  width: 100%;
  margin: 10px auto;
  padding: 5px 1px;
}

#logo {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#logo img {
  max-width: 2rem;
  max-height: 2rem;
  object-fit: cover;
}

footer p {
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 1rem;
  display: block;
  margin: auto;
}

header {
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  color: white;
  padding-left: 1rem;
}

nav {
  width: 50%;
	max-width: 300px;
	height: 50px;
}

nav > ul {
  display: flex;
	justify-content: space-evenly;
  flex-wrap: wrap;
	align-items: center;
	padding-inline-start: 0;
	margin-block: 0;
	height: 100%;
}

nav > ul > li {
  color: white;
  margin: 0 0.2rem;
	padding: 0.2rem;
	display: block;
}

nav > ul > li:hover {
  background-color: white;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

.container1 {
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 20px;
}

#tribute-info{
  width: 100%;
  height: auto;
  padding: 5px 2px;
  margin: 10px auto;
}

#tribute-info p {
  text-align: justify;
  text-justify: inter-word;
}

#tribute-info a {
  color: black;
}

#gallery {
  margin: 0 auto;
  padding: 20px 10px;
}

#gallery img{
  max-width: 480px;
  width: 100%;
  height: auto;
  margin: 0.3rem;
  object-fit: cover;
  border-radius: 10px;
}

#gal-title {
  margin: 20px 20px;
}

@media (min-width: 460px) {
.container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-between;
  }
#gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
}
#gallery img {
  max-width: 275px;
}
#tribute-info {
  margin-left: 2rem;
}
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
